<html>
<head>
    <title>To-Do Lists</title>
</head>
<body>
    <h1>Your To-Do List</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" id="id_new_item" name="item_text" placeholder="Enter a to-do item">
        <input type="submit" value="Add Task">
    </form>
    <div>
        <table id="id_list_table">
            <thead></thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ forloop.counter }}: {{ item.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</body>
</html>